*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins",serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(177, 17, 20, 1);
}

nav{
    width: 40%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.red-up{
    width: 100vw;
    background-color: rgba(136, 0, 2, 1);
    display: flex;
    justify-content: space-around;
    padding: 55px;
}

h1{
    margin-bottom: 25px;
}

.container{
    width: 100vw;
    background-color: rgba(238, 89, 92, 1);
    display: flex;
    justify-content: space-around;
    padding: 90px;
}

.item{
    width: 30%;
    background-color: rgba(136, 0, 2, 1);
    padding: 30px;
    border-radius: 12px;
}